@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Apply background gradient */
body {
  background: linear-gradient(-45deg, #E6E6FA, #B0E0E6, #87CEEB);
}

/* Style the header */
#app-Header {
  padding: 20px;
  background: linear-gradient(to right, #1B98E0, #6DD5FA);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.app-header--title {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: white;
  text-shadow: 2px 2px #444444;
}
  
  .app-header--title {
    margin-top: 25px;
    font-size: 28px;
  }

  .tempTitle {
    margin: 0;
    padding: 0;
  }
  
  #switch_area {
    text-align: center;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding-right: 40px;
    padding-left: 40px;
  }


  #humidity-area {
    text-align: center;
    width: 250px;
    height: 330px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    margin-top: -350px;
    margin-left: 300px;
  }

  
  
  #fan-area {
    text-align: center;
    width: 250px;
    height: 330px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    margin-top: -350px;
    margin-left: 600px;
  }

  #FanOn{
    height: 200px;
    width: 200px;
    display: none;

  }

  #FanOff{
    height: 200px;
    width: 200px;
  }

  #led-indicator {
    display: none;
  }
  

  #light-intensity-area {
    text-align: center;
    width: 250px;
    height: 330px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    margin-top: -350px;
    margin-left: 900px;
  }
  
  #light-intensity-slider {
    width: 100%;
    margin: 30px 0;
  }
  
  .light-intensity-value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  